.appointment__cover {
    background: url("../Photos/p-banner.png");
    background-size: cover;
    height: 550px;
    overflow: hidden;
    color: white;
}

.appointment__box {
    margin: 150px 0 0 100px;
    width: 400px;

}

.appointment__title {
    font-family: "Passion One";
    font-size: 30px;
    text-align: left;
}

.appointment__text {
    font-family: "Unica One";
    font-size: 20px;
    text-align: left;
}

.appointment__book {
    font-family: "Passion One";
    font-size: 24px;
    text-align: center;
    width: 250px;
    height: 25px;
    padding: 10px;
    margin-left: 50px;
    background: white;
}

.appointment__link {
    text-decoration: none;
    color: black;
}

.appointment__book:hover {
    background: black;
}

.appointment__link:hover {
    color: white;
    cursor: default;
}

.appointment__brands {
    position: relative;
    top: -280px;
    left: 500px;
    width: 800px;
}

.appointment__singleBrand {
    margin: 0 100px 100px 0;

}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .appointment__cover {
        height: 375px;
    }

    .appointment__box {
        margin: 50px 0 0 50px;
    }

    .appointment__brands {
        left: 50%;
        width: 600px;
    }

    .appointment__singleBrand {
        margin: 0 75px 75px 0;
        width: 30%;
        height: auto;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .appointment__cover {
        height: 300px;
    }

    .appointment__box {
        margin: 50px 0 0 50px;
        width: 300px;
    }

    .appointment__title {
        font-size: 24px;
    }

    .appointment__text {
        font-size: 16px;
    }

    .appointment__book {
        font-size: 16px;
        width: 165px;
        height: 15px;
        margin-left: 0px;
    }

    .appointment__brands {
        top: -200px;
        left: 45%;
        width: 500px;
    }

    .appointment__singleBrand {
        margin: 0 50px 50px 0;
        width: 30%;
        height: auto;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .appointment__cover {
        height: 300px;
    }

    .appointment__box {
        margin: 75px 0 0 25px;
        width: 250px;
    }

    .appointment__title {
        font-size: 20px;
    }

    .appointment__text {
        font-size: 14px;
    }

    .appointment__book {
        font-size: 14px;
        width: 150px;
        height: 15px;
        padding: 5px;
        margin-left: 0px;
    }

    .appointment__brands {
        top: -235px;
        left: 70%;
        display: flex;
        flex-direction: column;
    }

    .appointment__singleBrand {
        margin: 0 0 25px 0;
        width: 125px;
        height: auto;
    }
}

@media screen and (max-width: 480px) {
    .appointment__cover {
        height: 300px;
    }

    .appointment__box {
        margin: 75px 0 0 25px;
        width: 250px;
    }

    .appointment__title {
        font-size: 16px;
    }

    .appointment__text {
        font-size: 12px;
    }

    .appointment__book {
        font-size: 12px;
        width: 125px;
        height: 10px;
        padding: 5px;
        margin-left: 0px;
    }

    .appointment__brands {
        top: -235px;
        left: 70%;
        display: flex;
        flex-direction: column;
    }

    .appointment__singleBrand {
        margin: 0 0 25px 0;
        width: 100px;
        height: auto;
    }
}