.content {
    height: 250px;
}

.content__title {
    font-family: "Passion One";
    font-size: 90px;
    text-shadow: -5px 10px 5px darkgrey;
    text-align: left;
    padding-left: 40px;
}

.content__box {
    width: 500px;
    position: relative;
    top: -212px;
    left: 800px;
}
.content__subtitle {
    font-family: "Passion One";
    font-size: 24px;
}

.content__text {
    font-family: "Unica One";
    font-size: 20px;
}

.content__book {
    font-family: "Passion One";
    font-size: 24px;
    text-align: center;
    width: 250px;
    height: 25px;
    margin-left: 115px;
    padding: 10px;
    background: black;
}

.content__link {
    text-decoration: none;
    color: white;

}

.content__book:hover {
    background: white;
}

.content__link:hover {
    color: black;
    cursor: default;
}