.experience {
    background: url("../Photos/goh-rhy-yan-eo7_DWzUxgw-unsplash.jpg");
    background-size: cover;
    height: 700px;
    overflow: hidden;
}

.experience__heading {
    font-family: "Passion One";
    font-size: 120px;
    text-align: left;
    margin: 25px 0 0 50px;
    text-shadow: 5px 20px 25px black;
    color: white;
}

.experience__box {
    position: relative;
    top: 100px;
    left: 625px;
    width: 500px;
    height: 375px;
    padding: 15px;
    text-align: right;
    background-color: rgba(0, 0, 0, 40%);
    color: white;
}

.experience__subheading {
    font-family: "Passion One";
}

.experience__text {
    font-family: "Unica One";
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
    .experience__box {
        left: 45%;
    }

}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .experience {
        height: 600px;
    }

    .experience__heading {
        font-size: 100px;
        margin: 25px 0 0 125px;
    }

    .experience__box {
        top: 25px;
        left: 40%;
        width: 400px;
        height: 350px;
    }

    .experience__subheading {
        font-size: 14px;
    }

    .experience__text {
        font-size: 14px;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .experience__heading {
        font-size: 70px;
        margin: 25px 0 0 25px;
    }

    .experience__box {
        top: 25px;
        left: 25px;
        width: 350px;
        height: 375px;
        text-align: left;
    }

    .experience__subheading {
        font-size: 14px;
    }

    .experience__text {
        font-size: 14px;
    }
}

@media screen and (max-width: 480px) {
    .experience__heading {
        font-size: 50px;
        margin: 25px 0 0 25px;
    }

    .experience__box {
        top: 25px;
        left: 25px;
        width: 250px;
        height: 285px;
        text-align: left;
    }

    .experience__subheading {
        font-size: 12px;
    }

    .experience__text {
        font-size: 12px;
    }
}