.team {
    display: flex;
}

.team__member {
    width: 50%;
    height: 450px;
    text-align: left;
    padding-left: 25px;
}

.dark {
    background: darkgrey;
}

.light {
    background: lightgrey;
}

.team__name {
    font-family: "Passion One";
    font-size: 50px;
    font-weight: 800;
}

.team__text {
    position: relative;
    top: -245px;
    left: 175px;
    width: 170px;
    font-family: 'Unica One';
}

.team__pic {
    box-shadow: 5px 10px 25px black;;
    width: 150px;
    height: auto;
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {

}

@media screen and (min-width: 769px) and (max-width: 1024px) {

}

@media screen and (min-width: 481px) and (max-width: 768px) {

}

@media screen and (max-width: 480px) {

}